
TEI/.DS_Store
TEI/70/.DS_Store
TEI/70/.DS_Store
.DS_Store
TEI/.DS_Store
TEI/.DS_Store
TEI/70/.DS_Store
.DS_Store
TEI/60/.DS_Store
TEI/70/.DS_Store
.ipynb_checkpoints/Shvarts_MongoDB-checkpoint.ipynb
TEI/60/.DS_Store
