<!DOCTYPE html>
<html lang="en">
  <head>
   
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="img" href="{{ url_for('static', filename= 'img/shw.png')}}">
    <link rel="img" href="{{ url_for('static', filename= 'img/Shelya.png')}}">
    <link rel="img" href="{{ url_for('static', filename= 'img/Uspenskij.png')}}">
    <link rel="img" href="{{ url_for('static', filename= 'img/Rodicheva.png')}}">
    <link rel="img" href="{{ url_for('static', filename= 'img/Senatorova.png')}}">
    <link href="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}">
    <link href="index.html">
<!-- <title>Главная страница</title> -->

  </head>

  <body>
    <header>
      <div class="container-fluid">
       <div class ="row">
        
        <div class="col">
       
       <h1 class="name">Eлена Шварц</h1>
      </div>
        
        <div class="col">
      <img class="paint" src="../static/img/shw.png" alt="ES">
    </div>
  </div>
</div>
    </header>

    <div class='container-fluid'>
      <div class ="row">
        
        <div class="col">
           <button class="btn dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              О проекте
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/about/#shvarts">Шварц</a>
              <a class="dropdown-item" href="/about/#digital_edition">Цифровое издание</a>
              <a class="dropdown-item"  href="/about/#team">Команда</a>
            </div>
          
        </div>

        <div class="col">
          <div class="dropdown">
            <button class="btn dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Произведения
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/list_of_texts/">60-е</a>
              <a class="dropdown-item" href="#">70-е</a>
              <a class="dropdown-item" href="#">Стихи из "Зеленой тетради"</a>
            </div>
          </div>
        </div>

            <div class="col">
           <button class="btn dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Материалы
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item smallb" href="/other/">Фотографии</a>
              <a class="dropdown-item smallb" href="/other/">Рукописи</a>
              <a class="dropdown-item smallb" href="/other/">Статьи</a>
            </div>
          </div>
            <div class="col">
          <div class="dropdown">
            <button class="btn dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Поиск
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/search/">По текстам</a>
              <a class="dropdown-item" href="#">По названиям</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  

  {%block content%}
  
  {%endblock%}

<footer>НИУ ВШЭ</footer>


  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/bootstrap.bundle.min.js"></script>
  <script src="../static/js/main.js"></script>
</body>
</html>