<!DOCTYPE html>
{% extends "base.html" %}

{%block content%}
<html>
  <head><title></title></head>
  <body>
  
    <div class ="row">


</div><div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
  

        <h2 class='main'id='shvarts'>Шварц</h2><p class ="mainparagraphs" > Проект посвящён творчеству Елены Шварц, поэтессы Ленинградского андерграунда, скончавшейся в 2010 году. Она поэт, прозаик, переводчик. одна из ведущих фигур ленинградской неофициальной культуры 1970-х — 1980-х годов. До 1989 года ее стихи публиковались в самиздате и за рубежом. Автор пятнадцати сборников стихов и трех книг прозы. Лауреат нескольких литературных премий, в том числе Премии Андрея Белого (1979).</p>
   
         <h2 class='main'id='digital_edition'>Цифровое издание</h2><p class ="mainparagraphs" > В нашем распоряжении - огромный архив, состоящий из стихотворных сборников, эссе, самиздата, рецензий на тексты писательницы, переводов и прочего. Цель, которую мы поставили, - создать электронное издание ее творчества, сайт, на котором все было бы упорядочено, были бы ссылки на текстологические комментарии или варианты текстов, отдельно были бы сканы рукописей и транскрипты интервью, фото, аудио и видео материалы. Большая часть работы была посвящена TEI- разметке текстов стихотворений Шварц. 
         

         <h2 class='main'id='team'>Команда</h2>
         <div class="row">

         <div class="col">
      <img class="pictures" src="../static/img/Senatorova.png" alt="ES"><p class="authors">Елизавета Сенаторова</p>

    </div>
     <div class="col">
      <img class="pictures" src="../static/img/Rodicheva.png" alt="ES"><p class="authors">Лилия Родичева</p>

    </div>
    </div>
    <div class="row">
     <div class="col">
      <img class="pictures" src="../static/img/Uspenskij.png" alt="ES"><p class="authors">Павел Успенский</p>
    </div>
     <div class="col">
      <img class="pictures" src="../static/img/Shelya.png" alt="ES"><p class="authors">Артем Шеля</p>

    </div>

    <p class="mainparagraphs"> <br>Благодарим за помощь в подготовке разметки текстов Даниила Скоринкина и Анастасию Панасюк. Если хотите стать нашим рабом, пишите на почту: shwartz@gmail.com</p>

</div> </div>


	 
	</div>
  </body>
</html>

{%endblock%}


