<!DOCTYPE html>
<html lang="en">
  <head>
   
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="img" href="{{ url_for('static', filename= 'img/shw.png')}}">
    <link rel="img" href="{{ url_for('static', filename= 'img/Shelya.png')}}">
    <link rel="img" href="{{ url_for('static', filename= 'img/Uspenskij.png')}}">
    <link rel="img" href="{{ url_for('static', filename= 'img/Rodicheva.png')}}">
    <link rel="img" href="{{ url_for('static', filename= 'img/Senatorova.png')}}">
    <link rel="img" href="{{ url_for('static', filename= 'img/paint.png')}}">
    <link rel="img" href="{{ url_for('static', filename= 'img/paint1.png')}}">
    <link rel="img" href="{{ url_for('static', filename= 'img/paint2.png')}}">
    <link rel="img" href="{{ url_for('static', filename= 'img/paint3.png')}}">
    <link rel="img" href="{{ url_for('static', filename= 'img/paint4.png')}}">
    <link rel="img" href="{{ url_for('static', filename= 'img/paint5.png')}}">
    <link href="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}">
    <link rel="shortcut icon" href="#" />
    <link href="index.html">

<!-- <title>Главная страница</title> -->

  </head>

  <body>
    <header>
      <div class="container-fluid">
       <div class ="row">
        
        <div class="col">
       
       <img class="name" src="../static/img/paint6.png" alt="ES">
      </div>
        
        <div class="col">
      <img class="paint" src="../static/img/shw.png" alt="ES">
    </div>
  </div>
</div>
    </header>

    <div class='container-fluid'>
      <div class ="row">
        
        <div class="col">
           <button class="btn dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              О проекте
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/about/#shvarts">Шварц</a>
              <a class="dropdown-item" href="/about/#digital_edition">Цифровое издание</a>
              <a class="dropdown-item"  href="/about/#team">Команда</a>
            </div>
          
        </div>

        <div class="col">
          <div class="dropdown">
            <button class="btn dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Произведения
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/list_of_texts/">60-е</a>
              <a class="dropdown-item" href="#">70-е</a>
              <a class="dropdown-item" href="#">Стихи из "Зеленой тетради"</a>
            </div>
          </div>
        </div>

         <div class="col">
          <div class="dropdown">
           <button class="btn dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Материалы
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/contrib/">Фотографии</a>
              <a class="dropdown-item" href="#">Рукописи</a>
              <a class="dropdown-item" href="#">Статьи</a>
            </div>
          </div>
        </div>
            <div class="col">
          <div class="dropdown">
            <button class="btn dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Поиск
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/search/">По текстам</a>
              <a class="dropdown-item" href="#">По названиям</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  

  {%block content%}
  <html>
  <head><title></title></head>
  <body>
  
    <div class ="row">


</div><div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
  

        <h2 class='main'id='shvarts'>Шварц</h2><p class ="mainparagraphs" > Проект посвящён творчеству Елены Шварц, поэтессы Ленинградского андерграунда, скончавшейся в 2010 году. Она поэт, прозаик, переводчик. одна из ведущих фигур ленинградской неофициальной культуры 1970-х — 1980-х годов. До 1989 года ее стихи публиковались в самиздате и за рубежом. Автор пятнадцати сборников стихов и трех книг прозы. Лауреат нескольких литературных премий, в том числе Премии Андрея Белого (1979).</p>
   
         <h2 class='main'id='digital_edition'>Цифровое издание</h2><p class ="mainparagraphs" > В нашем распоряжении - огромный архив, состоящий из стихотворных сборников, эссе, самиздата, рецензий на тексты Шварц, переводов и прочего. Цель, которую мы поставили, - создать электронное издание ее творчества, сайт, на котором все было бы упорядочено, были бы ссылки на текстологические комментарии или варианты текстов, отдельно были бы сканы рукописей и транскрипты интервью, фото, аудио и видеоматериалы. Мы разметили тексты Шварц в TEI, а затем создали базу данных с уже размеченными стихотворениями. Благодаря этому, на сайте стало возможным сравнить разночтения одного и того же ткста и выполнять полнотекстовый поиск.

         <h2 class='main'id='team'>Команда</h2>
         <div class="row">

         <div class="col">
      <img class="pictures" src="../static/img/Senatorova.png" alt="ES"><p class="authors">Елизавета Сенаторова</p>

    </div>
     <div class="col">
      <img class="pictures" src="../static/img/Rodicheva.png" alt="ES"><p class="authors">Лилия Родичева</p>

    </div>
    </div>
    <div class="row">
     <div class="col">
      <img class="pictures" src="../static/img/Uspenskij.png" alt="ES"><p class="authors">Павел Успенский</p>
    </div>
     <div class="col">
      <img class="pictures" src="../static/img/Shelya.png" alt="ES"><p class="authors">Артем Шеля</p>

    </div>
    <div class="row">

    <p class="mainparagraphs"> <br>Благодарим за помощь в подготовке разметки текстов Даниила Скоринкина и Анастасию Панасюк.</p>
</div>
</div> </div>


   
  </div>
  </body>
</html>
  {%endblock%}

<footer>НИУ ВШЭ</footer>


<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>

</body>
</html>