<!DOCTYPE html>
{% extends "base.html" %}

{%block content%}
<html>
  <head><title></title></head>
  <body>
  
    <div class ="row">


</div><div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
  

        <h2 class='main'id='shvarts'>Шварц</h2><p class ="mainparagraphs" > Проект посвящён творчеству Елены Шварц, поэту, прозаику, переводчику, одной из ведущих фигур ленинградской неофициальной культуры 1970-х — 1980-х годов. До 1989 года ее стихи публиковались в самиздате и за рубежом. Шварц - автор пятнадцати сборников стихов и трех книг прозы, лауреат нескольких литературных премий, в том числе Премии Андрея Белого (1979).</p>
   
         <h2 class='main'id='digital_edition'>Цифровое издание</h2><p class ="mainparagraphs" > В нашем распоряжении огромный архив, состоящий из стихотворных сборников, эссе, самиздата, рецензий на тексты Шварц, переводов и прочего. Цель, которую мы поставили, - создать электронное издание ее творчества, сайт, на котором все было бы упорядочено, имелись бы ссылки на текстологические комментарии или варианты текстов, отдельно представлены сканы рукописей и транскрипты интервью, фото, аудио и видеоматериалы. Мы разметили тексты Шварц в TEI, а затем создали базу данных с уже размеченными стихотворениями. Благодаря этому на сайте стало возможным сравнить разночтения одного и того же текста и выполнять полнотекстовый поиск.

         <h2 class='main'id='team'>Команда</h2>
         <div class="row">

         <div class="col">
      <img class="pictures" src="../static/img/Senatorova.png" alt="ES"><p class="team">Елизавета Сенаторова</p>

    </div>
     <div class="col">
      <img class="pictures" src="../static/img/Rodicheva.png" alt="ES"><p class="team">Лилия Родичева</p>

    </div>
    </div>
    <div class="row">
     <div class="col">
      <img class="pictures" src="../static/img/Uspenskij.png" alt="ES"><p class="team">Павел Успенский</p>
    </div>
     <div class="col">
      <img class="pictures" src="../static/img/Shelya.png" alt="ES"><p class="team">Артем Шеля</p>

    </div>
    <div class="row">

    <p class="mainparagraphs"> <br>Благодарим за помощь в подготовке разметки текстов Даниила Скоринкина и Анастасию Панасюк.</p>
</div>
</div> </div>


	 
	</div>
  </body>
</html>

{%endblock%}


